
#nav2{
    height: 10vh;
    width: 98.5vw;
    margin-top: 5vh; 
    background-color: rgb(48, 33, 33);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: cursive;
    color: aliceblue;
    
} 
#main{

    display: flex;
   
    flex-wrap: wrap;
    width: 100%;
    padding-inline: 10%;
    justify-content: center;
   
   

    
}
#cards{
    justify-content: center;
    margin: 15px;
   border-radius: 15px;
   background-color: rgb(14, 13, 13);
   font-family: cursive;
   color: aliceblue;
   display: table-row-group;
   
}
#button{
    display: flex;
}
img{
    border-radius: 10px;
    padding: 2px;
    height: 30vh;
    width: 20vw;
}
